*{
   
    padding: 0;
    margin: 0;

}

body{
    
    width: 100%;
    
}

.container {
   
    position: relative;
    margin-top: 98px;
    height:500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: var(--gap); */
    background-color: #F5F5F5;
}

.container-intro{
   
   width: 50%;
   padding: var(--gap);
}

.intro {
    
    display:flex;
    flex-direction: column;
    gap:30px;
    width:500px;
    margin-left:190px;
    vertical-align: top;
}

.intro h1{
    font-family: 'Dosis', sans-serif;
}

.intro .p1 {
    
    font-family: Source Sans Pro;
    font-weight: bold;
    font-style: mixed;
}


.intro p {
    
    font-family: Source Sans Pro;
    font-style: mixed;
}

.container-50{
   
    width: 100%;
    height: 100%;
    
}

.container-img img{
    
    width: 100%;
    height: 100%;
    
}


.button{
    
    height: 40px;
    width: 384px;
    font-family: Source Sans Pro;
    font-size:14px;
    font-weight: bold;
    display:flex;
    align-items:center;
    justify-content:center;
    background: #F77B2F;
    border-radius: 30px;
    /* padding: 14px 80px 14px 80px; */
    text-decoration: none;
    color: #FFFFFF;
}

.intro-repis{
    
    font-family: Source Sans Pro;
    margin-top: 21px;
    margin-left: 190px;
    display:flex;
    align-items:center;
    gap: 15px;
}

.repis_p{
    font-weight:bold;
}

.intro-repis img {
    width: 9px;
    
}

.section-1 {
    
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.repis-oque{
    
    width: 100%;
    margin: auto;
}
.repis-oque h2{
    
    font-family: Dosis;
    text-transform: uppercase;
    
}

.repis-oque .p-oque{
    
    font-family: Source Sans Pro;
    font-size: 16px;
    width: 450px;
    margin: auto;
    padding-top: 10px;
}

.repis-oque p{
    font-family: Source Sans Pro;
    font-size: 16px;
    height:45px;
    width: 625px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.section-2 {
    
    margin-top: 55px;
    background-color: #F5F5F5;
    height: 445px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nao-se{
    
    height: 158px;
    width: 50%;
    padding: 10px;
    padding:0px 0px 0px 200px;

}

.ok-mas {
    
    height: 158px;
    width: 50%;
    padding: 10px;
    padding:0px 200px 0px 0px;
    
}

.section-2 .nao-se h2{
    
    font-family: Dosis;
    text-transform: uppercase;
    width: 400px;
}

.section-2 .nao-se p{
    
    font-family: Source Sans Pro;
    font-size: 16px;
    text-align: left;
    margin-top: 27px;
    width: 500px;
   
}


.section-2 .ok-mas h2 {

    font-family: Dosis;
    text-transform: uppercase;
    width: 300px;
}

.section-2 .ok-mas p {
    
    font-family: Source Sans Pro;
    font-size: 16px;
    width: 500px;

}

.section-2 .ok-mas .ok-mas-1 {
    margin-top: 27px;
}

.section-2 .ok-mas .ok-mas-2 {
    margin-top: 27px;
}

.section-2 .ok-mas .ok-mas-3 {
    
    margin-top: 27px;
    width: 500px;
    word-wrap: break-word;
}